<header>
    <a href="/" class="logo-img">
        <img src="/images/panlog.png" alt="Simplicious logo">
        <link rel="stylesheet" href="/css/style.css">
    </a>
    <nav>
        <ul>
           <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
            <li><a href="/recipes" class="<%= currentPage === 'recipes' ? 'active' : '' %>">Recipes</a></li>
            <li><a href="/features" class="<%= currentPage === 'features' ? 'active' : '' %>">Features</a></li>
            <li><a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">About Us</a></li>
            <li><a href="/cart" class="<%= currentPage === 'cart' ? 'active' : '' %>">Shop</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <a href="/login"><button class="login">Login</button></a>
        <a href="/signup"><button class="signup">Sign Up</button></a>
    </div>
</header>