<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/cart.js" defer></script>
</head>
<body>
   <%- include('../partials/header') %>

    <main>
        <div class="title-section">
            <h1 class="title">Cooking Books Recommended by Our Chefs</h1>
        </div>
      <section class="book-list">
    <% for(let i = 0; i < books.length; i += 3) { %>
        <div class="book-row">
            <% books.slice(i, i+3).forEach(book => { %>
                <div class="book-item">
                    <h2><%= book.title %></h2>
                    <img src="<%= book.imagePath %>" alt="<%= book.altText %>">
                    <button class="add-to-cart" data-id="<%= book._id %>">Add to Cart</button>
                </div>
            <% }); %>
        </div>
    <% } %>
</section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>