<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes, shrink-to-fit=no, viewport-fit=cover">
  <title>Manage Recipes | Admin</title>
  <link rel="icon" type="image/png" href="/images/panlog.png">
  <link rel="stylesheet" href="/css/admin.css" />
</head>
<body>
  <div class="admin-container">
    <header class="navbar">
      <a href="/" class="logo-img"><img src="/images/panlog.png" alt="Simplicious logo"></a>
      <h1>Manage Recipes</h1>
      <nav>
        <ul>
          <li><a href="/AdminDashboard">Dashboard</a></li>
          <li><a href="/manage-recipes" class="active">Manage Recipes</a></li>
          <li><a href="/Users">Users</a></li>
          <li><a href="/booksmanaging">Books</a></li>
          <li><a href="/Settings">Settings</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-content">
      <section class="table-section">
        <h2>Add New Recipe</h2>
        <form action="/recipes" method="POST" class="add-book-form">
          <input type="text" name="title" placeholder="Recipe Title" required>
          <input type="text" name="imagePath" placeholder="Image Path" required>
          <input type="text" name="altText" placeholder="Alt Text">
          <textarea name="description" placeholder="Description" rows="4"></textarea>
          <input type="text" name="type" placeholder="Category" required>  

          <input type="text" name="ingredients" placeholder="Ingredients (Separate by commas)" required>
          <input type="text" name="instructions" placeholder="Instructions (Separate by commas)" required>

          <button type="submit" class="save">Add Recipe</button>
        </form>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Recipe Name</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% recipes.forEach(recipe => { %>
              <tr>
                <td>#<%= recipe?._id.toString().slice(-6) %></td>
                <td><%= recipe?.title %></td>
                <td><%= recipe?.type %></td>
                <td>
                  <!-- Edit button as a link -->
                  <a href="/recipes/<%= recipe?._id %>/edit-recipe"><button class="edit">Edit</button></a>

                  <!-- Delete form -->
                  <form action="/recipes/<%= recipe?._id %>/delete" method="POST" style="display:inline;">
                      <button class="delete" type="submit" onclick="return confirm('Delete this recipe?');">Delete</button>
                  </form>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
    </main>
  </div>

   <%- include('../partials/footer') %>

</body>
</html>
